<link rel="stylesheet" href="/css/header.css">
<header>
    <div class="hamburger">
        <input type="checkbox" id="menu-toggle">
        <svg viewBox="0 0 32 32">
            <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
            <path class="line" d="M7 16 27 16"></path>
        </svg>
    </div>
    
    <div class="overlay"></div>
    
    <div class="sidebar">
        <div class="user-info">
            <div class="profilePictureMobile">
                <img id="profile-picture-mobile" src="">
            </div><!--profilePictureMobile-->
            <div class="info">
                <h3 id="user-name-mobile"></h3>
                <p id="user-privilege-mobile"></p>
                <div class="sessionTime">
                    <p><i class="fa-regular fa-clock"></i> <span id="session-time-mobile"></span></p>
                </div>
            </div><!--info-->
        </div><!--user-info-->
        <h3>General</h3>
        <nav class="sidebar-menu">
            <ul>
                <li>
                    <i class="fa-solid fa-pencil"></i>
                    <a id="edit-profile-mobile" href="#">Editar perfil</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li id="admin-page-mobile" style="display: none;">
                    <i class="fa-solid fa-crown"></i>
                    <a href="/admin">Página de administrador</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <i class="fa-solid fa-book"></i>
                    <a href="/livrosGuardados">Ver livros guardados</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <i class="fa-solid fa-sign-out"></i>
                    <a href="/logout">Sair da conta</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
            </ul>
        </nav>
    </div>
    
    <div class="container">
        <div class="flexHeader">
            <div class="logo">
                <img src="/img/biblioteca 2-01.png" alt="">
            </div><!--logo-->
            <div class="search">
                <form action="/search" method="GET">
                    <input type="text" name="q" placeholder="Search books">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <form class="livrosGuardados" action="/livrosGuardados">
                    <input type="submit" value="Ver livros guardados">
                </form>
            </div><!--search-->
            <div class="user">
                <div class="profile">
                    <img id="profile-picture" src="" alt="Imagem do usuário">
                    <div class="modal">
                        <div class="modalContent">
                            <h2 class="mainTitle" id="user-name"></h2>
                            <p class="emailUser" id="user-email"></p>
                            <h3 class="typeUser" id="user-privilege"></h3>
                            <ul>
                                <li>
                                    <a id="edit-profile" href="#">Editar perfil</a>
                                </li>
                                <li id="admin-page" style="display: none;">
                                    <a href="/admin">Página de administrador</a>
                                </li>
                                <li>
                                    <a href="/logout">Sair da conta</a>
                                </li>
                                <li>
                                    <p>Tempo de sessão restante: <span id="session-time"></span></p>
                                </li>
                            </ul>
                        </div><!--modalContent-->
                    </div><!--modal-->
                </div><!--profile-->
            </div><!--user-->
        </div><!-- flexHeader -->
    </div><!-- container -->
</header>

<nav class="breadcrumb-container" aria-label="breadcrumb">
    <div class="container">
        <ol id="breadcrumb" class="breadcrumb">
            
        </ol>
    </div><!--container-->
</nav>

<script  src="/js/jquery.js"></script>
<script >
    $(document).ready(function() {
        $.ajax({
            url: '/header-data',
            method: 'GET',
            success: function(data) {
                $('#profile-picture').attr('src', data.profilePicture);
                $('#profile-picture-mobile').attr('src', data.profilePicture);
                $('#user-name').text(data.name);
                $('#user-name-mobile').text(data.name);
                $('#user-email').text(data.email);
                $('#user-privilege').text(data.privilege);
                $('#user-privilege-mobile').text(data.privilege);
                $('#edit-profile').attr('href', '/profile/' + data.id);
                $('#edit-profile-mobile').attr('href', '/profile/' + data.id);

                updateSessionTime(data.sessionRemainingTime);
                if (data.privilege === 'admin') {
                    $('#admin-page').show();
                    $('#admin-page-mobile').show();
                }
            },
            error: function(err) {
                console.error('Erro ao carregar dados do header:', err);
            }
        });

        // Função para gerar o breadcrumb dinâmico
        function generateBreadcrumb() {
            const breadcrumb = $('#breadcrumb');
            const pathArray = window.location.pathname.split('/').filter(function(el) { return el.length != 0; });
            let path = '';

            breadcrumb.append('<li class="breadcrumb-item"><a href="/">Home</a></li>');

            for (let i = 0; i < pathArray.length; i++) {
                path += '/' + pathArray[i];
                if (i === pathArray.length - 1) {
                    breadcrumb.append('<li class="breadcrumb-item active" aria-current="page">' + decodeURIComponent(pathArray[i]) + '</li>');
                } else {
                    breadcrumb.append('<li class="breadcrumb-item"><a href="' + path + '">' + decodeURIComponent(pathArray[i]) + '</a></li>');
                }
            }
        }

        // Chama a função para gerar o breadcrumb
        generateBreadcrumb();
    });

    // Função para atualizar o tempo de sessão
    function updateSessionTime(remainingTime) {
        const sessionTimeElement = document.getElementById('session-time');
        const sessionTimeMobileElement = document.getElementById('session-time-mobile');
        setInterval(() => {
            if (remainingTime > 0) {
                remainingTime -= 1000;
                const hours = Math.floor(remainingTime / 3600000);
                const minutes = Math.floor((remainingTime % 3600000) / 60000);
                const seconds = Math.floor((remainingTime % 60000) / 1000);
                sessionTimeElement.innerText = `${hours}h ${minutes}m ${seconds}s`;
                sessionTimeMobileElement.innerText = `${hours}h ${minutes}m ${seconds}s`;
            } else {
                sessionTimeElement.innerText = 'Sessão expirada';
                sessionTimeMobileElement.innerText = 'Sessão expirada';
            }
        }, 1000);
    }
</script>
<script >
    $('.profile img').click(function() {
        $('.modal').slideToggle();
    });
</script>
<script >
    $(document).ready(function() {
        // Controle do menu mobile
        $('.hamburger').click(function() {
            const checkbox = $('.hamburger input');
            checkbox.prop('checked', !checkbox.prop('checked')).change();
            if (checkbox.is(':checked')) {
            $('body').addClass('menu-open');
            } else {
            $('body').removeClass('menu-open');
            }
        });

        // Fechar o menu ao clicar no overlay
        $('.overlay').click(function() {
            $('.hamburger input').prop('checked', false).change();
        });

        // Fechar o menu ao clicar em um link
        $('.sidebar-menu a').click(function() {
            $('.hamburger input').prop('checked', false).change();
        });
    });
</script>
