<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Logue na plataforma</h1>
    <form action="/login" method="post">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <input type="submit" value="Login">
    <p>Não tem conta ainda? Crie uma <a href="/register">aqui</a></p>
    <% if (message) { %>
        <p><%= message %></p>
    <% } %>
    </form>
</body>
</html>