<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Biblioteca</title>
</head>
<body>
    <section class="main">
        <div class="container">
            <form action="/login" method="post">
                <div class="img">
                    <img src="/img/biblioteca 2-01.png" alt="">
                </div><!--img-->
                <h1>Login</h1>
                <input class="email" type="text" id="email" name="email" required placeholder="E-mail">
                <input class="password" id="password" name="password" required placeholder="Senha">
                <input class="login" type="submit" value="Entrar">
                <p class="line"></p> 
                <a href="#">Esqueci a Senha</a>
                <button class="google"><i class="fa-brands fa-google"></i> Continuar com o Google</button>
                <button><i class="fa-brands fa-facebook"></i> Continuar com Facebook</button>

                
    <% if (message) { %>
        <p><%= message %></p>
    <% } %>

            </form>
        </div><!--container-->
    </section>
</body>
</html>

    
