<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Biblioteca</title>
</head>
<body>
    <section class="main">
        <div class="container">
            <form action="/registrar" method="post">
                <div class="img">
                    <img src="/img/biblioteca 2-01.png" alt="">
                </div><!--img-->
                <h1>Registre-se na plataforma</h1>     

                <input type="text" name="name" id="name" required placeholder="Nome:"> 
                <input type="email" id="email" name="email" required placeholder="E-mail:">
                <input type="password" id="password" name="password" required placeholder="Senha:">

                <input type="submit" value="Cadastrar">
                
                <p>Já possui conta?  <a href="/login">Entre Aqui</a></p>



                
                <% if (message) { %>
                    <p>  <%= message %>  <  </p>
                <% } %>
            </form>
        </div><!--container-->
    </section>
</body>
</html>
