<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Registre-se na plataforma</h1>
    <form action="/registrar" method="post">
        <label for="name">Nome:</label> <!-- posso mudar-->
        <input type="text" name="name" id="name" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Sign In">
        <p>Já possui conta? Entre <a href="/login">aqui</a></p>
        <% if (message) { %>
            <p> <!--posso mudar-->   <%= message %>  <!--posso mudar-->  </p>
        <% } %>
    </form>
</body>
</html>